body {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
}

div {
	min-height: 50px;
}

hr {
	width: 1275px;
	margin: auto;
}

.navBackground {
	background: rgb(111, 30, 30);
}

.aFont {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.aFont:hover {
	color: lightgray;
}

h5 {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	color: white;
	margin-bottom: 10px;
	font-weight: bold;
}

h3 {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	color: white;
}

.textLine {
  display: inline-block;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
  position: relative;
  margin: auto;
  width: 0%;
}

.textLine:hover{
   border-bottom: 2px solid lightgray;
   width: 100%;
}

.logo {
	border-radius: 300px;
}

.titleMargin {
	margin-top: 50px;
}

.bold {
	font-weight: bold;
}

.red {
	color: rgb(111, 30, 30);
}

button {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.greyRound {
	width: 125px;
	height: 125px;
	border-radius: 100%;
	background: lightgray;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.greyRectangleLeft {
	width: 250px;
	height: 125px;
	border-radius: 10px;
	background: lightgray;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.icon {
	width: 100px;
	height: 100px;
	margin-top: 12px;
}

.mapIcon {
	width: 95px;
	height: 100px;
	margin-top: 10px;
	margin-left: 2px;
}

.emcoImg {
	width: 230px;
	height: 105px;
	border-radius: 10px;
	margin-top: 10px;
}

.borderDiv {
	border: 2px solid black;
	border-radius: 10px;
}

.divWidth {
	width: 1000px;
}

a {
	text-decoration: none;
	font-size: 25px;
	color: rgb(111, 30, 30);
}

.footerIcon {
	width: 30px;
}