/*Responsive so the screen resize when the frame change*/
@media only screen and (min-width: 375px) and (min-height: 667px) and (-webkit-device-pixel-ratio : 2) {

	h1 {
		font-size: 40px;
	}

	hr {
		width: 375px;
	}

	#listContainer {
		padding: 0;
	}

	ul {
		padding: 0;
	}

	li {
		margin-right: 10px;
		font-size: 14px;
	}

	#phoneLogo {
		margin-left: 35px;
	}
}